<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Readify"
        tools:targetApi="34">
        <activity
            android:name=".PDFViewerActivity"
            android:exported="false" />
        <activity
            android:name=".PdfViewerActivity"
            android:exported="false" />
        <activity
            android:name=".StoreActivity"
            android:exported="false" />
        <activity
            android:name=".PdfAddActivity"
            android:exported="false" />
        <activity
            android:name=".CategoryDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".CatagoryAddActivity"
            android:exported="false" />
        <activity
            android:name=".FavouriteActivity"
            android:exported="false" />
        <activity
            android:name=".BookReaderActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LibraryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.LibraryActivity"
            android:exported="false"
            android:label="@string/title_activity_library" />
        <activity
            android:name=".FeatureBookActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ForgetPassword"
            android:exported="false" />
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".TermCondition"
            android:exported="false" />
        <activity
            android:name=".Dashboard"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.readify.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files_path" />
        </provider>
    </application>

</manifest>